@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');


body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}
nav div#menu a {
    text-decoration: none;
    margin: 1rem;
    color: grey;
    transition: 700ms;
}
nav div#menu a:hover{
    color: #8741f1;
    cursor: pointer;
 }

 
 
nav h2{
     color: rgba(159, 159, 194, 0.701);
     font-family: Arial, Helvetica, sans-serif;
     transition: 700ms;
    }
    
nav h2:hover{
       color: #8741f1;
}

header{
    background-color:  rgba(0, 0, 0, 0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    color: white;
    padding-bottom: 2.4rem;
    
}

h1{
    margin: 0.3rem;
    font-size: 40px;
    font-weight: lighter;
}

header span {
    color: rgba(243, 240, 234, 0.908);
    font-weight: lighter;
    font-size: 17px;
}




footer{
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menu-button{
    display: none;

}



@media (max-width:850px) {
    div#menu{
        display: none;
    }
    .none{
        display: none;
    }
    
    div.menu-button{
        display: flex;
        padding-right: 2rem;
        color: #8741f1;
    }
    
    div#menu.menu-open{
        display: flex;
        text-decoration: none;
        background-color: white;
        flex-direction: column;
        padding: 2rem;
        width: 75%;
        flex-wrap: wrap;
        position: absolute;
        top: 0.1rem;
        left: auto;
        right: auto;
        z-index: 3;
        margin: 5rem 0rem;
        border-top: 3px solid #8741f1;
        font-weight: bolder;
    }
    
    div#menu.menu-open a{
        padding: 1rem;
        border-radius: 5px;
        margin: 0.2rem;
        transition: 700ms;
    }

    div#menu.menu-open a:hover{
        background-color: rgba(248, 248, 248, 0.962);
       
    }
    .menu-hamburgue{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    header{
        height: 270px;
    }
    nav{
        padding: 0.5rem 1.5rem;
    }
    
}