@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}
nav div#menu a {
    text-decoration: none;
    margin: 1rem;
    color: grey;
    transition: 700ms;
}
nav div#menu a:hover{
    color: #8741f1;
    cursor: pointer;
 }

 
 
nav h2{
     color: rgba(159, 159, 194, 0.701);
     font-family: Arial, Helvetica, sans-serif;
     transition: 700ms;
    }
    
nav h2:hover{
       color: #8741f1;
       cursor: pointer;
}

header{
    background-color:  rgba(0, 0, 0, 0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    color: white;
    padding-bottom: 2.4rem;
    
}

h1{
    margin: 0.3rem;
    font-size: 40px;
    font-weight: lighter;
}

header span {
    color: rgba(243, 240, 234, 0.908);
    font-weight: lighter;
    font-size: 17px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
   
}

div.menu-button{
    display: none;

}





footer{
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

div.icons i {
    padding: 0rem 0.5rem;
    transition: 400ms;
    color: white;
    
    
    
}

div.icons i:hover{
    cursor: pointer;
    color: #8741f1;
}

h4.email{
    color: grey;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}
