@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');


body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}
nav div#menu a {
    text-decoration: none;
    margin: 1rem;
    color: grey;
    transition: 700ms;
}
nav div#menu a:hover{
    color: #8741f1;
    cursor: pointer;
 }

 
nav h2{
     color: rgba(159, 159, 194, 0.701);
     font-family: Arial, Helvetica, sans-serif;
     transition: 700ms;
     text-decoration: none;
    }
    
    
nav h2:hover{
       color: #8741f1;
       cursor: pointer;
}

header{
    background-color:  rgba(0, 0, 0, 0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    color: white;
    padding-bottom: 2.4rem;
    
}

h1{
    margin: 0.3rem;
    font-size: 40px;
    font-weight: lighter;
}

header span {
    color: rgba(243, 240, 234, 0.908);
    font-weight: lighter;
    font-size: 17px;
}

div#container{
    background-color: rgba(224, 224, 224, 0.671);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

div.introdução{
    background-color: white;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 5rem 2.5rem 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

img{
    width: 180px;
    border-radius: 50%;
    margin: 1rem;
    border: 2px solid rgba(201, 198, 198, 0.833);
    transition: 600ms;
}

img:hover{
    border: 2px solid #8741f1;
}

div.icons{
    margin: 0.4rem 0rem 0.6rem 0rem;
}

div.icons i {
    padding: 0rem 0.5rem;
    transition: 400ms;
    color: black;
    
    
}

div.icons i:hover{
    cursor: pointer;
    color: #8741f1;
}

button.contato{
    background-color: #8741f1;
    border: none;
    padding: 0.8rem;
    box-shadow: 3px 5px 15px #ac48e777;
    border-radius: 2px;
    margin-top: 1rem;
    transition: 320ms;

}

button.contato:hover{
    box-shadow: none;
    
    padding: 1rem;
    background-color: #6e34c4;
   
   
}

button.contato a{
    text-decoration: none;
    color: white;
    font-size: 15px;
   
}

p{
    text-align: center;
}

h2.titulo{
    margin: 3rem 0rem 3rem 0rem;
}

div.exp-profissional{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 1100px;
    margin-bottom: 3.2rem;
}

div.exp-example{
    max-width: 350px;
}

p.exp{
    text-align: left;
}

footer{
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 1rem;
    
}

div.icons-footer i {
    padding: 0rem 0.5rem;
    transition: 400ms;
    color: white;
    
    
    
}

div.icons-footer i:hover{
    cursor: pointer;
    color: #8741f1;
}

h4.email{
    color: grey;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}





div.menu-button{
    display: none;

}



@media (max-width:850px) {
    div#menu{
        display: none;
    }
    .none{
        display: none;
    }
    
    div.menu-button{
        display: flex;
        padding-right: 2rem;
        color: #8741f1;
    }
    
    div#menu.menu-open{
        display: flex;
        text-decoration: none;
        background-color: white;
        flex-direction: column;
        padding: 2rem;
        width: 75%;
        flex-wrap: wrap;
        position: absolute;
        top: 0.1rem;
        left: auto;
        right: auto;
        z-index: 3;
        margin: 5rem 0rem;
        border-top: 3px solid #8741f1;
        font-weight: bolder;
    }
    
    div#menu.menu-open a{
        padding: 1rem;
        border-radius: 5px;
        margin: 0.2rem;
        transition: 700ms;
    }

    div#menu.menu-open a:hover{
        background-color: rgba(248, 248, 248, 0.962);
       
    }
    .menu-hamburgue{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    header{
        height: 270px;
    }
    nav{
        padding: 0.5rem 1.5rem;
    }

    div.exp-profissional{
        gap: 1rem;
    }

    h2{
        margin: 2rem;
    }
    
}

@media (min-width: 1300px) {

    div.introdução{
        max-width: 880px;
    }
    
}